@page "/music/genres/add"

@using WagsMediaRepository.Web.Components.Forms.Music

<PageTitle>Add Music Genre - Wags Media Repository</PageTitle>

<main class="thin">
    <h1>Add Music Genre</h1>

    <div class="back-button">
        <a href="/music/genres">&larr; Back</a>
    </div>

    <MusicGenreForm />
</main>