@page "/music/add"

@using WagsMediaRepository.Web.Components.Forms.Music

<PageTitle>Add Album - Wags Media Repository</PageTitle>

<main class="thin">
    <h1>Add Album</h1>

    <div class="back-button">
        <a href="/music/">&larr; Back</a>
    </div>

    <MusicAlbumForm />
</main>