@page "/podcasts/categories/add"

@rendermode InteractiveServer

@using WagsMediaRepository.Web.Components.Forms.Podcasts

<PageTitle>Add Podcast Category - Wags Media Repository</PageTitle>

<main class="thin">
    <h1>Add Podcast Category</h1>
    
    <div class="back-button">
        <a href="/podcasts/categories">&larr; Back</a>
    </div>
    
    <PodcastCategoryForm />
</main>