@page "/podcasts/add"

@rendermode InteractiveServer

@using WagsMediaRepository.Web.Components.Forms.Podcasts

<PageTitle>Add Podcast - Wags Media Repository</PageTitle>

<main class="thin">
    <h1>Add Podcast</h1>
    
    <div class="back-button">
        <a href="/podcasts/">&larr; Back</a>
    </div>
    
    <PodcastForm />
</main>