@page "/tv/add"

@using WagsMediaRepository.Web.Components.Forms.Television

<PageTitle>Add TV Show - Wags Media Repository</PageTitle>

<main class="thin">
    <h1>Add TV Show</h1>

    <div class="back-button">
        <a href="/tv/">&larr; Back</a>
    </div>

    <TelevisionShowForm />
</main>