@page "/tv/services/add"

@using WagsMediaRepository.Web.Components.Forms.Television

<PageTitle>Add TV Service - Wags Media Repository</PageTitle>

<main class="thin">
    <h1>Add TV Service</h1>

    <div class="back-button">
        <a href="/tv/services">&larr; Back</a>
    </div>

    <TelevisionServiceForm />
</main>