@page "/tv/genres/add"

@using WagsMediaRepository.Web.Components.Forms.Television

<PageTitle>Add TV Genre - Wags Media Repository</PageTitle>

<main class="thin">
    <h1>Add TV Genre</h1>

    <div class="back-button">
        <a href="/tv/genres">&larr; Back</a>
    </div>

    <TelevisionGenreForm />
</main>