th.sort-col {
	width: 80px;
}

th.title-col {
	min-width: 200px;
}

th.type-col {
	min-width: 135px;
}

th.series-col,
th.genre-col {
	min-width: 175px;
}

th.rating-col {
	min-width: 150px;
}

th.date-col {
	min-width: 150px;
}

th.author-col {
	min-width: 150px;
}

th.rating-col {
	min-width: 185px;
}

th.actions-col {
	width: 200px;
}

td .rating-display {
	margin: 0;
}

th.name-col {
	min-width: 200px;
}

th.genre-actions-col {
	min-width: 175px;
}

@media (min-height: 1000px) {
	dialog#add-book {
		max-height: 80vh;
	}
}