@page "/links/types/add"

@rendermode InteractiveServer

@using WagsMediaRepository.Web.Components.Forms

<PageTitle>Add Link Type - Wags Media Repository</PageTitle>

<main class="thin">
    <h1>Add Link Type</h1>
    
    <div class="back-button">
        <a href="/links/types">&larr; Back</a>
    </div>
    
    <LinkTypeForm />
</main>
