@page "/links/add"

@rendermode InteractiveServer

@using WagsMediaRepository.Web.Components.Forms

<PageTitle>Add Link - Wags Media Repository</PageTitle>

<main class="thin">
    <h1>Add Link</h1>
    
    <div class="back-button">
        <a href="/links">&larr; Back</a>
    </div>
    
    <LinkForm />
</main>
