<div hidden="@(IsLoading == false)" class="loading-animation-container">
    <div class="loading-indicator"><div></div><div></div><div></div></div>
   
    <div hidden="@(IsLoading == false)" class="loading-animation-text">
        @if (Tip != string.Empty)
        {
            <div class="text-lg">@Tip</div>
        }
    </div>
</div>

@code {
    [Parameter, EditorRequired] public bool IsLoading { get; set; }

    [Parameter] public string Tip { get; set; } = string.Empty;
}