@page "/video-games/systems/add"


@using WagsMediaRepository.Web.Components.Forms.VideoGames

<PageTitle>Add Video Game System - Wags Media Repository</PageTitle>

<main class="thin">
    <h1>Add Video Game System</h1>

    <div class="back-button">
        <a href="/video-games/systems">&larr; Back</a>
    </div>

    <VideoGameSystemForm />
</main>