@page "/video-games/add"

@rendermode InteractiveServer

@using WagsMediaRepository.Web.Components.Forms.VideoGames

<PageTitle>Add Video Game - Wags Media Repository</PageTitle>

<main class="thin">
    <h1>Add Video Game</h1>
    
    <div class="back-button">
        <a href="/video-games">&larr; Back</a>
    </div>
    
    <VideoGameForm />
</main>