@page "/movies/services/add"

@using WagsMediaRepository.Web.Components.Forms.Movies

<PageTitle>Add Movie Service - Wags Media Repository</PageTitle>

<main class="thin">
    <h1>Add Movie Service</h1>

    <div class="back-button">
        <a href="/movies/services">&larr; Back</a>
    </div>

    <MovieServiceForm />
</main>