@page "/movies/add"

@rendermode InteractiveServer

@using WagsMediaRepository.Web.Components.Forms.Movies

<PageTitle>Add Movie - Wags Media Repository</PageTitle>

<main class="thin">
    <h1>Add Movie</h1>

    <div class="back-button">
        <a href="/movies">&larr; Back</a>
    </div>

    <MovieForm />
</main>