@inject IJSRuntime JSRuntime

<div class="table-subtitle">
    <h2>Couldn't Finish</h2>
</div>

<table class="data-table movies-table could-not-finish">
    <thead>
    <tr>
        <th class="title">Title</th>
        <th class="date">Date Watched</th>
        <th class="actions">Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var movie in Movies)
    {
        <tr>
            <td><a href="@movie.MovieId" target="_blank" rel="noreferrer nofollow">@movie.Title</a></td>
            <td class="centered">@movie.DateWatched?.ToString("M/d/yyyy")</td>
            <td class="centered actions">
                <a href="/movies/edit/@movie.MovieId">Edit</a>
                <button type="button" class="link-button" @onclick="@(_ => DeleteMovie(movie))">Delete</button>
            </td>
        </tr>
    }
    @if (Movies.Count == 0)
    {
        <tr>
            <td colspan="3" class="centered no-data"><em>No Movies in List</em></td>
        </tr>
    }
    </tbody>
</table>

@code {
    [Parameter, EditorRequired] public IReadOnlyCollection<MovieApiModel> Movies { get; set; } = [];
    
    [Parameter, EditorRequired] public EventCallback<int> OnDelete { get; set; }

    private async Task DeleteMovie(MovieApiModel movie)
    {
        if (!await JSRuntime.InvokeAsync<bool>("confirm", $"Are you sure you want to delete the movie '{movie.Title}'?"))
            return;

        await OnDelete.InvokeAsync(movie.MovieId);
    }
}