@page "/books/series/add"

@using WagsMediaRepository.Web.Components.Forms.Books

<PageTitle>Add Book Series - Wags Media Repository</PageTitle>

<main class="thin">
    <h1>Add Book Series</h1>

    <div class="back-button">
        <a href="/books/series">&larr; Back</a>
    </div>

    <BookSeriesForm />
</main>