@page "/books/add"

@using WagsMediaRepository.Web.Components.Forms.Books

<PageTitle>Add Book - Wags Media Repository</PageTitle>

<main class="thin">
    <h1>Add Book</h1>

    <div class="back-button">
        <a href="/books/">&larr; Back</a>
    </div>

    <BookForm />
</main>