@page "/books/genres/add"

@using WagsMediaRepository.Web.Components.Forms.Books

<PageTitle>Add Book Genre - Wags Media Repository</PageTitle>

<main class="thin">
    <h1>Add Book Genre</h1>

    <div class="back-button">
        <a href="/books/genres">&larr; Back</a>
    </div>

    <BookGenreForm />
</main>