@page "/books/genres/edit/{Id:int}"

@rendermode InteractiveServer

@using WagsMediaRepository.Web.Components.Forms.Books
@using WagsMediaRepository.Web.Handlers.Queries.Books

<PageTitle>Edit Book Genre - Wags Media Repository</PageTitle>

<main class="thin">
    <h1>Edit Book Genre</h1>

    <div class="back-button">
        <a href="/books/genres/">&larr; Back</a>
    </div>

    @if (!string.IsNullOrWhiteSpace(_pageError))
    {
        <div class="alert error">
            @_pageError
        </div>
    }

    <BookGenreForm BookGenre="BookGenre" />
</main>

@code {
    private string _pageError = string.Empty;
    private BookGenreApiModel? BookGenre { get; set; }

    [Parameter] public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var result = await Mediator.Send(new GetBookGenre.Request(Id));

        if (!result.IsSuccessful)
        {
            _pageError = result.ErrorMessage;
        }

        BookGenre = result.Value;
    }
}