@inject IJSRuntime JSRuntime

<div class="table-subtitle">
    <h2>Watched</h2>
</div>

<table class="data-table tv-table watched">
    <thead>
    <tr>
        <th class="title">Title</th>
        <th class="rating">Rating</th>
        <th class="actions">Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var tvShow in Shows)
    {
        <tr>
            <td><a href="@tvShow.TelevisionShowId" target="_blank" rel="noreferrer nofollow">@tvShow.Title</a></td>
            <td class="centered">
                @if (tvShow.Rating > 0)
                {
                    <StarRating Rating="@tvShow.Rating" />
                }
                else
                {
                    <span>N/A</span>
                }
            </td>
            <td class="centered actions">
                <a href="/tv/edit/@tvShow.TelevisionShowId">Edit</a>
                <button type="button" class="link-button" @onclick="@(_ => DeleteTvShow(tvShow))">Delete</button>
            </td>
        </tr>
    }
    @if (Shows.Count == 0)
    {
        <tr>
            <td colspan="3" class="centered no-data"><em>No TV Shows Watched</em></td>
        </tr>
    }
    </tbody>
</table>

@code {
    [Parameter, EditorRequired] public IReadOnlyCollection<TelevisionShowApiModel> Shows { get; set; } = [];
    
    [Parameter, EditorRequired] public EventCallback<int> OnDelete { get; set; }

    private async Task DeleteTvShow(TelevisionShowApiModel tvShow)
    {
        if (!await JSRuntime.InvokeAsync<bool>("confirm", $"Are you sure you want to delete the show '{tvShow.Title}'?"))
            return;

        await OnDelete.InvokeAsync(tvShow.TelevisionShowId);
    }
}